name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    #- name: Install ILASM
      #run: dotnet add package Microsoft.NETCore.ILAsm --version 8.0.0
    - name: Check ILASM
      run: ilasm --version
    - name: Run cargo tests
      run: cargo test --verbose ::stable

